<div class="row justify-content-md-center">
    <div class="col-6">
        <form class="ui-widget input-group">
            <input class="form-control" type="text" autocomplete="off" id="book-autocomplete" placeholder="Search books..." aria-label="Search">
            <button class="btn" type="button" id="book-clear">
                <i class="fa fa-times"></i>
            </button>
            <button class="btn" type="button" id="book-spinner">
                <img src="~/img/loading.gif" alt="loading" title="loading" />
            </button>
        </form>
    </div>
</div>